@import "http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: local('Press Start 2P'), local('PressStart2P-Regular'), url(http://fonts.gstatic.com/s/pressstart2p/v4/8Lg6LX8-ntOHUQnvQ0E7o3uGXJk6cuEylToZ-uuaubQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(http://fonts.gstatic.com/s/lato/v11/zJY4gsxBiSo5L7tNutxFNg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/v0SdcGFAl2aezM9Vq_aFTQ.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
}
.m10 {
  margin: 10px;
}
.show {
  display: block!important;
}
.tac {
  text-align: center;
}
body {
  color: #fff;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-image: url(/CDN/bgSpace.jpg);
}
body #shoot {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 48px;
  text-align: center;
  background-color: #ffa500;
  color: #fff;
}
body #content {
  transform: rotateZ(90deg);
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
body .relative {
  height: 100%;
  width: 100%;
  position: relative;
}
body #phoneTitle {
  font-size: 50px;
  text-align: center;
  font-family: 'Press Start 2P', serif;
}
body #fixedButtons {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
}
body #fixedButtons > button {
  width: 68%;
  padding: 10px;
  font-size: 17px;
  border-radius: 5px;
  border: none;
  margin: 1%;
  color: #fff;
}
body #fixedButtons > button + button {
  width: 29%;
  margin-left: 0;
  background-color: #A3FFA5;
  color: #015601;
}
body #fixedButtons > button.twitter {
  background-color: #55acee;
}
body #clickableArea .hover {
  background-color: rgba(124, 191, 226, 0.5);
}
body #clickableArea > .statusContent {
  font-family: 'Press Start 2P', serif;
  font-size: 50px;
  text-align: center;
  display: block;
}
body #warning {
  display: none;
}
body .connect {
  font-family: 'Lato', serif;
}
body .connect h1 {
  font-weight: 100;
  text-align: center;
}
body .connect .userCircle {
  padding: 9px;
  width: 50px;
  display: block;
  border-radius: 2px;
  background-color: #001f5a;
  color: #fff;
  text-align: center;
  font-size: 28px;
  float: left;
  clear: both;
  margin-right: 5px;
}
body .connect li {
  height: 50px;
  background: rgba(255, 255, 255, 0.8);
  list-style: none;
  margin: 5px;
  border-radius: 5px;
  overflow: hidden;
}
body .connect li > span {
  color: #333;
  display: block;
}
body .connect li > span.msg {
  padding-top: 5px;
}
body .connect li > span.nearby {
  font-style: italic;
}
body[orient="landscape"] #content,
body[orient="landscape"] #clickableArea {
  display: none;
}
body[orient="landscape"] #warning {
  display: block;
}
