@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: local('Press Start 2P'), local('PressStart2P-Regular'), url(http://fonts.gstatic.com/s/pressstart2p/v4/8Lg6LX8-ntOHUQnvQ0E7o3uGXJk6cuEylToZ-uuaubQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(http://fonts.gstatic.com/s/lato/v11/zJY4gsxBiSo5L7tNutxFNg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/v0SdcGFAl2aezM9Vq_aFTQ.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url('/CDN/bgSf2.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #333;
  color: #fff;
  overflow: hidden;
}
h1 {
  font-family: 'Press Start 2P', serif;
  font-size: 30px;
  text-align: center;
  margin: 20px;
}
li {
  list-style: none;
}
article#home {
  height: 250px;
  top: 50%;
  margin-top: -125px;
  position: absolute;
  width: 100%;
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -webkit-transition: transform 1s, top 2s, display 1s;
  -moz-transition: transform 1s, top 2s;
  -ms-transition: transform 1s, top 2s;
  -o-transition: transform 1s, top 2s;
  transition: transform 1s, top 2s;
}
article#home > h1 {
  margin-bottom: 25px;
}
article#home.hide {
  transform: rotateY(90deg) rotateZ(-45deg);
  -webkit-transform: rotateY(90deg) rotateZ(-45deg);
  -moz-transform: rotateY(90deg) rotateZ(-45deg);
  top: -50%;
}
ul#main > li {
  width: 300px;
  padding: 10px;
  display: block;
  text-align: center;
  position: relative;
  border: 1px #fff solid;
  border-radius: 10px;
  font-size: 25px;
  margin: 0 auto 10px auto;
  font-family: 'Lato', serif;
  font-weight: 100;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: background 1s;
  -moz-transition: background 1s;
  -ms-transition: background 1s;
  -o-transition: background 1s;
  transition: background 1s;
}
ul#main > li:hover {
  background: rgba(255, 165, 0, 0.7);
}
