<polymer-element name="highscores-card" attributes="url name score img bg">
    <template>
        <link rel="stylesheet" href="/components/highscores.css" />

        <a href="((url ? url : '#'))" target="_blank" class="highscoreCard" style="background-image: url('((bg))')">
                <img src="((img))" height="73" width="73"/>
                <span class="name">((name))</span>
                <span class="score">((score))</span>
                <span class="twitterIcon">
                    <i class="fa fa-twitter"></i>
                </span>
        </a>

    </template>
    <script>
        Polymer('highscores-card', {
            ready: function() {
            }
        });
    </script>
</polymer-element>