<polymer-element name="highscores-view">
    <template>
        <link rel="stylesheet" href="/components/highscores.css" />

        <div class="tac">
            <h1 class="beautyTitle">HIGHSCORES</h1>
        </div>


        <div id="highscoreList" style="height: ((scoreListHeight))px">

            <template repeat="((item in items))">
                <highscores-card name="((item.user.screen_name))" img="((item.user.profile_image_url))" score="((item.score))" url="((item.user.url))" bg="((item.user.profile_background_image_url))"></highscores-card>
            </template>
        </div>

        <div id="closeButton" class="closeButton">
            <i class="fa fa-close"></i>
        </div>

    </template>
    <script>
        require(['lib/jquery.js'], function() {
            Polymer('highscores-view', {
                scoreListHeight: 500,
                items: [],
                ready: function() {
                    var scope = this;
                    $.getJSON('/API/highscores.json?action=getList', function(data) {
                        scope.items = data.items;
                    });

                    this.$.closeButton.onclick = function() {
                        Web.LoaderCallbacks.changeView('');
                        var homeArticle = $('#home');
                        homeArticle.removeClass('hide');
                        homeArticle.show();
                    };

                    this.scoreListHeight = $(window).height() - 200;
                }
            });
        });

    </script>
</polymer-element>