<polymer-element name="view-loader" attributes="view height width">
    <template>
        <template if="((view=='single'))">
            <singlegame-view height="((height))" width="((width))"></singlegame-view>
        </template>

        <template if="((view=='multi'))">
            <multigame-view height="((height))" width="((width))" playercount="((playerCount))"></multigame-view>
        </template>

        <template if="((view=='highscores'))">
            <highscores-view></highscores-view>
        </template>
    </template>
    <script>
        Polymer('view-loader', {
            height: 500,
            width: 500,
            ready: function() {
                var self = this;

                Web.LoaderCallbacks = {
                    'changeView': function(viewName, playerCount) {
                        self.view = viewName;
                        if (typeof playerCount !== 'undefined' && playerCount) {
                            self.playerCount = playerCount;
                        }
                    }
                };
            },
            attributeChanged: function(el, oldVal, newVal) {
                switch (el) {
                    case 'view':
                        //renderView(newVal, this.$.content);
                        break;
                }
            }
        });
    </script>
</polymer-element>