<polymer-element name="view-loader" attributes="view">
    <template>
        <div id="content"></div>
    </template>
    <script>
        var renderView = function(val, content) {
            loadView.bind({
                type: val,
                content: content,
                height: (window.innerHeight) ? window.innerHeight : document.body.clientHeight,
                width: (window.innerWidth) ? window.innerWidth : document.body.clientWidth
            })();
        };

        var loadView = function() {
            switch (this.type) {
                case 'single':
                    this.content.innerHTML = '<singlegame-view height="' + this.height + '" width="' + this.width + '"></singlegame-view>';
                    break;
            }
        };

        Polymer('view-loader', {
            attributeChanged: function(el, oldVal, newVal) {
                switch (el) {
                    case 'view':
                        renderView(newVal, this.$.content);
                        break;
                }
            }
        });
    </script>
</polymer-element>