<polymer-element name="multigame-view" attributes="height width">
    <template>
        <template if="((gameKey))">
            <singlegame-view height="((height))" width="((halfTheWidth))" multiplayer="((gameKey))" style="left: 0px; height: ((height))px; position: absolute;"></singlegame-view>
            <singlegame-view height="((height))" width="((halfTheWidth))" multiplayer="((gameKey))" style="left: ((halfTheWidth))px; height: ((height))px; position: absolute;"></singlegame-view>
        </template>
    </template>

    <script>
        require(['components/multigame.js']);

    </script>
</polymer-element>