<polymer-element name="singlegame-view" attributes="height width">
    <template>
        <style>
            #content {
                width: 100%;
                height: 100%;
                background-color: #000000;
                background-image: url('/CDN/space01.jpg');
                background-attachment: fixed;
                background-position: bottom center;
                background-size: cover;
                position: absolute;
            }
        </style>
        <canvas id="content">

        </canvas>
        SPACE...
    </template>
    <script>
        //IMPORTANT: name with -
        Polymer('singlegame-view', {
            height: 250,
            width: 250,
            ready: function() {

            }
        });
    </script>
</polymer-element>