<polymer-element name="singlegame-view" attributes="height width multiplayer">
    <template>
        <link rel="stylesheet" href="/components/singlegame.css" />
        <style>
            #singleGameWrapper {
                width: ((width))px;
            }
            #singleGameWrapper .enemy {
                height: ((enemyHeight))px;
                width: ((enemyWidth))px;
            }
            #singleGameWrapper .fire {
                height: 5px;
                width: 5px;
            }
        </style>

        <div id="singleGameWrapper">
            <template if="((qrcode))">
                <div class="content">
                    <qr-code value="((qrcode))"></qr-code>
                </div>
            </template>

            <template if="((!qrcode))">
                <div id="spaceship" style="((showGame ? 'display: block;' : 'display: none;')) left: ((spaceship.left))px; width: ((spaceship.width))px; bottom: ((spaceship.bottom))px; height: ((spaceship.height))px;"></div>

                <template repeat="((enemy in enemies))">
                    <div class="enemy ((enemy.css))" style="left: ((enemy.left))px; top: ((enemy.top))px;"></div>
                </template>

                <template repeat="((fire in fires))">
                    <div class="fire" style="left: ((fire.left))px; bottom: ((fire.bottom))px;"></div>
                </template>

                <div class="leftTopInfo">
                    <template if="((twitterInfo))">
                        <div class="twitterProfilePic">
                            <img src="((twitterInfo.image))" alt="((twiterInfo.userName))" title="((twiterInfo.userName))" height="73" width="73"/>
                        </div>
                    </template>
                    <ul class="lives">
                        <template repeat="((live in lives))">
                            <li class="spaceship" style="opacity: ((live));"></li>
                        </template>
                    </ul>
                </div>

                <span id="score" class="score">((score))</span>

                <dialog-view code="test" content="123"></dialog-view>
                <game-stamp></game-stamp>
            </template>
        </div>

    </template>
    <script>
        require(['components/singlegame.js']);

    </script>
</polymer-element>