<polymer-element name="singlegame-view" attributes="height width">
    <template>
        <link rel="stylesheet" href="/components/singlegame.css" />
        <style>
            #wrapper {
                width: ((width))px;
            }
            .enemy {
                height: ((enemyHeight))px;
                width: ((enemyWidth))px;
            }
            .fire {
                height: 5px;
                width: 5px;
            }
        </style>

        <div id="wrapper">
            <template if="((qrcode))">
                <div class="content">
                    <qr-code value="((qrcode))"></qr-code>
                </div>
            </template>

            <template if="((!qrcode))">
                <canvas class="content"></canvas>

                <div id="spaceship" style="((showGame ? 'display: block;' : 'display: none;')) left: ((spaceship.left))px; width: ((spaceship.width))px; bottom: ((spaceship.bottom))px; height: ((spaceship.height))px;"></div>

                <template repeat="((enemy in enemies))">
                    <div class="enemy" style="left: ((enemy.left))px; top: ((enemy.top))px;"></div>
                </template>

                <template repeat="((fire in fires))">
                    <div class="fire" style="left: ((fire.left))px; bottom: ((fire.bottom))px;"></div>
                </template>

                <span class="score">((score))</span>

                <dialog-view title="test" content="123"></dialog-view>
            </template>
        </div>

    </template>
    <script>
        require(['components/singlegame.js']);

    </script>
</polymer-element>