@import "http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: local('Press Start 2P'), local('PressStart2P-Regular'), url(http://fonts.gstatic.com/s/pressstart2p/v4/8Lg6LX8-ntOHUQnvQ0E7o3uGXJk6cuEylToZ-uuaubQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(http://fonts.gstatic.com/s/lato/v11/zJY4gsxBiSo5L7tNutxFNg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/v0SdcGFAl2aezM9Vq_aFTQ.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
}
.m10 {
  margin: 10px;
}
.show {
  display: block!important;
}
.tac {
  text-align: center;
}
#about p,
#about ol {
  font-size: 14px;
}
#about h2 {
  font-family: 'Press Start 2P';
  font-size: 18px;
  margin-top: 20px;
}
#about ol > li {
  margin-left: 15px;
}
#about .cc {
  height: 30px;
  overflow: hidden;
}
#about .cc > li {
  float: left;
  display: inline-block;
  margin-right: 10px;
}
#about .cc > li a {
  color: #333;
  font-size: 14px;
}
#about .github {
  text-decoration: none;
  margin-top: 5px;
  font-size: 35px;
  border: none;
  color: #999;
}
#about .github:hover {
  color: #000;
}
