@import "http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: local('Press Start 2P'), local('PressStart2P-Regular'), url(http://fonts.gstatic.com/s/pressstart2p/v4/8Lg6LX8-ntOHUQnvQ0E7o3uGXJk6cuEylToZ-uuaubQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(http://fonts.gstatic.com/s/lato/v11/zJY4gsxBiSo5L7tNutxFNg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/v0SdcGFAl2aezM9Vq_aFTQ.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
}
.m10 {
  margin: 10px;
}
.show {
  display: block!important;
}
.tac {
  text-align: center;
}
#dialogOverlay {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  -webkit-animation: opacity 1s;
  -moz-animation: opacity 1s;
  animation: opacity 1s;
}
#dialogOverlay #wrapper {
  background-color: #fff;
  color: #333;
  padding: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 5px;
  -webkit-animation: crazySlide 1s;
  -moz-animation: crazySlide 1s;
  animation: crazySlide 1s;
}
#dialogOverlay #wrapper h1 {
  font-family: 'Press Start 2P', serif;
  text-align: center;
  font-size: 25px;
  padding-top: 5px;
}
#dialogOverlay #wrapper p {
  font-family: 'Lato';
  font-size: 20px;
  color: #000;
  overflow: hidden;
  margin: 10px 0;
  padding: 5px;
}
#dialogOverlay #wrapper #content {
  overflow: auto;
}
@keyframes crazySlide {
  from {
    transform: skewX(45deg) rotateX(90deg);
    opacity: 0;
  }
  to {
    transform: skewX(0deg) rotateX(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes crazySlide {
  from {
    -webkit-transform: skewX(45deg) rotateX(90deg);
    opacity: 0;
  }
  to {
    -webkit-transform: skewX(0deg) rotateX(0deg);
    opacity: 1;
  }
}
@-moz-keyframes crazySlide {
  from {
    -moz-transform: skewX(45deg) rotateX(90deg);
    opacity: 0;
  }
  to {
    -moz-transform: skewX(0deg) rotateX(0deg);
    opacity: 1;
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.min500#dialogOverlay #wrapper {
  margin-left: -210px;
  width: 400px;
  height: 100px;
  margin-top: -60px;
}
.max500#dialogOverlay #wrapper {
  left: 0;
  margin-left: 0;
  width: 100%;
  height: 130px;
  margin-top: -75px;
  border-radius: 0;
}
