@import "http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: local('Press Start 2P'), local('PressStart2P-Regular'), url(http://fonts.gstatic.com/s/pressstart2p/v4/8Lg6LX8-ntOHUQnvQ0E7o3uGXJk6cuEylToZ-uuaubQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(http://fonts.gstatic.com/s/lato/v11/zJY4gsxBiSo5L7tNutxFNg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/v0SdcGFAl2aezM9Vq_aFTQ.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
}
.m10 {
  margin: 10px;
}
.show {
  display: block!important;
}
.tac {
  text-align: center;
}
h1.beautyTitle {
  font-size: 48px;
  font-family: 'Lato', serif;
  font-weight: 100;
  text-align: center;
  color: #fff;
  padding-bottom: 10px;
  margin: 50px auto;
  border-bottom: 1px #fff solid;
  display: inline-block;
  position: relative;
}
#highscoreList {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 300px;
  overflow-x: visible;
  overflow-y: scroll;
}
.closeButton {
  color: #fff;
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 50px;
}
.highscoreCard {
  display: block;
  height: 73px;
  border-radius: 7px;
  overflow: hidden;
  background: #55acee;
  color: #fff;
  font-family: 'Lato', serif;
  text-decoration: none;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 25px;
}
.highscoreCard .twitterIcon {
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: #fff;
  opacity: 0.7;
  font-size: 25px;
}
.highscoreCard > img {
  float: left;
  padding-right: 5px;
}
.highscoreCard > .name {
  display: block;
  padding: 5px;
  font-size: 18px;
}
.highscoreCard > .score {
  display: block;
  padding: 5px;
  font-size: 25px;
}
