@import (less) "../core.less";

#singleGameWrapper {
  background-color: #000000;
  background-image: url('/CDN/bgSpaceFull.jpg');
  background-position: bottom center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  .content {
    height: 100%;
    width: 100%;
    position: relative;
  }
  .score {
    display: block;
    position: absolute;
    right: 15px;
    top: 30px;
    text-align: right;
    font-family: 'Press Start 2P';
    font-size: 30px;
    color: @orange;
  }
  qr-code {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -128px;
    margin-left: -128px;
  }
  .playerId {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 150px;
    margin-left: -35px;
    font-size: 35px;
    background: rgba(173, 0, 0, 0.8);
    height: 70px;
    line-height: 67px;
    width: 70px;
    border-radius: 50%;
    font-family: 'Lato', serif;
    font-weight: 100;
    text-align: center;
  }
  .connectUrl {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -185px;
    font-family: 'Lato', serif;
    font-size: 36px;
    text-align: center;
  }
  .enemy {
    //background-color: red;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    height: 160px;
    width: 160px;

    &.enemy1 {
      background-image: url('/CDN/asteroid.png');
    }
    &.enemy2 {
      background-image: url('/CDN/twitter.png');
    }
    &.enemy3 {
      background-image: url('/CDN/android.png');
    }
    &.enemy4 {
      background-image: url('/CDN/bomb.png');
      -webkit-animation: glow 3s ease-in-out infinite;
      animation: glow 3s ease-in-out infinite;
      border-radius: 50%;
    }
  }
  .fire {
    background-color: #fff;
    position: absolute;
    -webkit-animation: spinAround 2s infinite;
    animation: spinAround 2s infinite;
  }
  .leftTopInfo {
    position: absolute;
    top: 15px;
    left: 15px;
  }
  .twitterProfilePic {
    height: 73px;
    width: 73px;
    margin-bottom: 10px;
    border: 2px #fff solid;
    border-radius: 50%;
    overflow: hidden;
  }

  #spaceship, .spaceship {
    //background-color: @orange;
    background-image: url('/CDN/spaceship.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  #spaceship {
    position: absolute;
  }
  .spaceship {
    list-style: none;
    height: 25px;
    width: 25px;
    margin-right: 5px;
    float: left;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg)
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spinAround {
  from {
    -moz-transform: rotate(0deg)
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@keyframes spinAround {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes glow
{
  50% { box-shadow: 0 0 60px red; }
}

@keyframes glow
{
  50% { box-shadow: 0 0 60px red; }
}